{
  :paths ["src"]

  :deps 
  {
    org.clojure/clojure       {:mvn/version "1.10.0"}
    org.clojure/core.async    {:mvn/version "0.4.490"}

    clojure.java-time         {:mvn/version "0.3.2"}
    cheshire                  {:mvn/version "5.8.1"}
    clj-http                  {:mvn/version "3.9.1"}
    redis.clients/jedis       {:mvn/version "3.0.1"}

    com.novemberain/monger    {:mvn/version "3.1.0"}
  
    org.postgresql/postgresql {:mvn/version "42.2.5"}
    funcool/clojure.jdbc      {:mvn/version "0.9.0"}
    hikari-cp                 {:mvn/version "2.7.1"}
    honeysql                  {:mvn/version "0.9.4"}  

    com.draines/postal        {:mvn/version "2.0.3"}
    mount                     {:mvn/version "0.1.16"}}
  ;

  :aliases
  {
    ;; clj -A:java:nrepl
    ; :java
    ; {
    ;   :extra-paths ["java"]
    ;   :extra-deps 
    ;   {
    ;     redis-client  {:local/root "./lib/jedis-3.0.1.jar"}
    ;     json          {:local/root "./lib/json-20180813.jar"}}}

    ; ;; https://github.com/Olical/depot
    ; :outdated 
    ; {
    ;   :extra-deps { olical/depot {:mvn/version "1.7.0"}}
    ;   :main-opts ["-m" "depot.outdated.main"]}
    ; ;

    ; :nrepl
    ; {
    ;   :extra-paths ["dev"]
    ;   :extra-deps  { nrepl/nrepl {:mvn/version "0.6.0"}}  
    ;   :main-opts   ["-m" "nrepl.cmdline"]}

    :repl
    {
      :extra-paths ["dev"]
      :extra-deps 
        { nrepl/nrepl       {:mvn/version "0.6.0"}  
          cider/cider-nrepl {:mvn/version "0.21.1"}}
      :main-opts 
        ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
    
    :jar
    {
      :extra-paths ["resources" "tmp/classes"]
      :extra-deps {seancorfield/depstar {:mvn/version "RELEASE"}}
      :main-opts ["-m" "hf.depstar.uberjar" "tmp/notify.jar"]}
    
  ;; ;; ;; ;; 

    :capsule
    {
      :extra-deps 
        { pack/pack.alpha { :git/url "https://github.com/juxt/pack.alpha.git"
                            :sha "81b9e47d992b17aa3e3af1a47aed1f0287ebe9b8"}}
      :main-opts 
        [ "-m"
          "mach.pack.alpha.capsule tmp/notify.jar"
          "--application-id anga.notify"
          "--application-version 0.0.3" 
          "--main app.main"]}

    :cambada
    { 
      :extra-deps { luchiniatwork/cambada {:mvn/version "1.0.0"}}
      :main-opts ["-m" "cambada.uberjar" 
                  "--main app.main"
                  "--app-version" "0.0.1"
                  "--out out"
                  "--no-copy-source"]}

    :. :.}}

;; https://github.com/luchiniatwork/cambada
;; https://github.com/seancorfield/depstar
;; https://github.com/juxt/pack.alpha
;; https://github.com/EwenG/badigeon

;; cider/piggieback {:mvn/version "0.4.0"}
;; clojure.java-time {:mvn/version "0.3.2"}

;.
