{:notify {
          ;; :firehose {:channel -1000000000000}  
          :telegram
          {:timeout 3000
           :retry 3}}
      ;; :apikey "174999999:AeEaaaaaaaaaaaaaaaaaaaaaaaaaaaaaEeA"


  ;; datasource

 :redis {:url "REDIS_ANGARA"}
  ;; redis://angara:PASS@dbm:6379/0

 :psql {:jdbc-url "JDBC_ANGARA"}

 :mdb-angara {:url "MDB_ANGARA"}
  ;; mongodb://angara:PASSWORD@dbm:27017/angara

  ;; jdbc:postgresql://dbm:5432/angara?user=angara&password=PASSWORD
  ;; https://github.com/tomekw/hikari-cp/

 :sendmail
 {:smtp
  {:host "smtp.yandex.com"
   :ssl  true
   :port 465
   :user "noreply@angara.net"
   :pass "__PASSWORD__"}
    ;
  :envelope
  {:from "Angara.Net <noreply@angara.net>"
   :to []
   :subject ""}}
 ;
 :tz "Asia/Irkutsk"
 ,}
