{
  ;; main project config file

  :notify 
  {
    :appname "anga/notify"

    ;; :firehose {:channel -1000000000000}  
    :telegram 
    {
      :timeout 3000
      :retry 3}}
      ;; :apikey "174999999:AeEaaaaaaaaaaaaaaaaaaaaaaaaaaaaaEeA"
      ;; :socks {:host "localhost" :port 9999}

  
  ;; datasource

  :redis 
  {
    :url "${REDIS_ANGARA}"}

  ;; runtime override by build.edn
  :build
  {
    :appname    "notify-DEV"
    :version    "0.0-DEV"
    :commit     "xxxxxxxx-DEV"
    :timestamp  "2019-DEV"}}
;;.
  

